* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: Arial, sans-serif;
  background-color: rgb(235, 126, 9);
}

.nav-menu {
  list-style: none;
  background: #e71b09;
  display: flex;
}

.nav-menu > li {
  position: relative;
}

.nav-menu > li > a {
  display: block;
  color: rgb(200, 255, 0);
  padding: 10px 12px;
  text-decoration: none;
}

.nav-menu > li > a:hover {
  background: #a95f04;
}

.nav-menu > li > ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #f9f514;
  min-width: 100px;
  z-index: 1000;
  box-shadow: 0 2px 5px rgb(39, 235, 9);
  list-style: none;
}

.nav-menu > li:hover > ul {
  display: block;
}

.nav-menu > li > ul > li {
  width: 100%;
}

.nav-menu > li > ul > li > a {
  display: block;
  color: rgb(255, 0, 200);
  padding: 10px 12px;
  text-decoration: none;
  border-bottom: 1px solid rgb(235, 126, 9);
}

.nav-menu > li > ul > li > a:hover {
  background: rgb(39, 235, 9);
}

.nav-menu > li > ul > li > ul {
  top: 0;
  left: 100%;
}